In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
from faker import Faker

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [3]:
!pip install faker

Collecting faker
  Downloading Faker-19.12.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 33.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.10/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.12.1

In [4]:
# Function to generate random data for the data set
def generate_data(num_rows):
    fake = Faker('en_US')
    data = []

    for _ in range(num_rows):
        product = random.choice(['Cola', 'Lemonade', 'Energy Drink', 'Beer', 'Wine', 'Vodka', 'Coffee', 'Green Tea', 'Black Tea', 'Herbal Tea'])
        company = random.choice(['Coca-Cola', 'Pepsi', 'Dr. Pepper'])
        category = 'Soft Drink' if product in ['Cola', 'Lemonade', 'Energy Drink'] else 'Alcoholic' if product in ['Beer', 'Wine', 'Vodka'] else 'Coffee' if product == 'Coffee' else 'Tea'
        units_sold = random.randint(100, 1000)
        revenue = random.randint(1000, 10000)
        cost_of_goods_sold = random.randint(500, 8000)
        profit = revenue - cost_of_goods_sold
        purchase_date = fake.date_this_decade()
        customer_name = fake.name()
        customer_state = fake.state()
        customer_city = fake.city()
        customer_zipcode = fake.zipcode_in_state()
        order_id = fake.isbn10()

        data.append([product, company, category, units_sold, revenue, cost_of_goods_sold, profit, purchase_date, customer_name, customer_state, customer_city, customer_zipcode, order_id])

    return data

# Generate the data set with 10,000 rows
num_rows = 10000
data_set = generate_data(num_rows)

# Create a DataFrame using Pandas
columns = ['Product', 'Company', 'Category', 'Units Sold', 'Revenue', 'Cost of Goods Sold', 'Profit', 'Purchase Date', 'Customer Name', 'Customer State', 'Customer City', 'Customer Zip Code', 'Order ID']
df = pd.DataFrame(data_set, columns=columns)

# Save the data as a CSV file
df.to_csv('soft_drink_sales.csv', index=False)

In [5]:
df

,Product,Company,Category,Units Sold,Revenue,Cost of Goods Sold,Profit,Purchase Date,Customer Name,Customer State,Customer City,Customer Zip Code,Order ID
0,Black Tea,Coca-Cola,Tea,878,4388,7681,-3293,2023-03-31,Jennifer Green,New York,Lake Isaacland,67954,1-4465-1121-9
1,Coffee,Coca-Cola,Coffee,467,2690,7951,-5261,2023-04-09,Ethan Jenkins,Kentucky,West Tamara,18594,1-7356122-1-9
2,Coffee,Pepsi,Coffee,728,2840,1203,1637,2020-02-08,Matthew Owens,Tennessee,Madisonville,89501,0-13-475695-9
3,Green Tea,Dr. Pepper,Tea,970,2204,4817,-2613,2021-05-06,Douglas Garcia,Nevada,South Rachelport,39232,1-5197-3918-4
4,Herbal Tea,Coca-Cola,Tea,214,9568,5307,4261,2022-03-15,Penny Miller,Utah,Port Amberland,64615,0-11-080345-0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Vodka,Pepsi,Alcoholic,143,1392,1718,-326,2021-01-18,Bradley Alexander,Alaska,Shawnmouth,02818,1-211-24353-2
9996,Wine,Dr. Pepper,Alcoholic,116,2580,1687,893,2022-01-28,Heidi Johnson,New Hampshire,East Breanna,99780,1-190-14730-0
9997,Wine,Dr. Pepper,Alcoholic,827,8530,7030,1500,2020-11-22,Erica Burnett,Indiana,Santosshire,27182,1-950360-17-2
9998,Wine,Dr. Pepper,Alcoholic,925,7135,1464,5671,2020-10-12,Christopher Williams,Illinois,South Oliviaside,54216,1-4825-8132-9
9999,Beer,Coca-Cola,Alcoholic,226,1176,5177,-4001,2020-10-01,Patricia Shaw,Mississippi,Natalieport,73151,1-351-05824-X